In [1]:
import numpy as np

In [16]:
import pandas as pd
from numpy.random import randn

In [7]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [11]:
inside

[1, 2, 3, 1, 2, 3]

In [12]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [18]:
df

             A         B
G1 1 -1.524812  0.501252
   2  0.326812  0.628009
   3  0.761353 -0.494609
G2 1  0.377074 -0.889943
   2  1.184860 -0.704094
   3  2.271423 -0.489391

In [19]:
df.loc['G1']

          A         B
1 -1.524812  0.501252
2  0.326812  0.628009
3  0.761353 -0.494609

In [21]:
df.loc['G1'].loc[1]

A   -1.524812
B    0.501252
Name: 1, dtype: float64

In [23]:
df.index.names = ['Groups','Num']

In [24]:
df

                   A         B
Groups Num
G1     1   -1.524812  0.501252
       2    0.326812  0.628009
       3    0.761353 -0.494609
G2     1    0.377074 -0.889943
       2    1.184860 -0.704094
       3    2.271423 -0.489391

In [27]:
df.loc['G2'].loc[2]['B']

-0.7040939566942132

In [29]:
df.xs('G1')

            A         B
Num
1   -1.524812  0.501252
2    0.326812  0.628009
3    0.761353 -0.494609

In [33]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.524812  0.501252
G2      0.377074 -0.889943